<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="startCard">
        <img src="../../assets/chatGlobe.png" alt="" class="chatLogo">
        <h3 id="title"><b>Welcome to the Global Chat!</b></h3>
        <h5 id="desc" >Don't just learn English, LIVE it, by praticing your English with spreakers and learners from all around the world</h5>
      </div>
    </div>

    <div class="col-sm-12 chatbtn">
      <a id="chatButton">Start Chat</a>
    </div>

  </div>
</div>
